# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.venv.bak/

# Vercel build output
.vercel/

# Flask-SQLAlchemy database file
*.sqlite3
*.db

# Flask instance folder
instance/

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# MacOS
.DS_Store
