{% extends "base.html" %}
{% block content %}
<h1>Membership Form</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.father_name.label(class="form-label") }}
        {{ form.father_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.cnic.label(class="form-label") }}
        {{ form.cnic(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.phone.label(class="form-label") }}
        {{ form.phone(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.cnic_pic.label(class="form-label") }}
        {{ form.cnic_pic(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.profile_pic.label(class="form-label") }}
        {{ form.profile_pic(class="form-control") }}
    </div>
    <div class="d-grid">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
